{% extends 'base.html.twig' %}

{% block content %}
    <div class="logo m-5">
        <img id="stackit" src="{{ asset('images/stackit.svg') }}" alt="STACKIT"/>
    </div>
    <div class="text-center px-2 d-flex flex-column justify-content-center flex-fill">
        <div class="image mt-5">
            <img id="symfony" src="{{ asset('images/symfony6.png') }}" alt="STACKIT"/>
        </div>
        <div>
            <h1 class="mt-7 mb-4">Welcome!</h1>
            <p class="mb-5">
                Start your symfony application development on STACKIT
            </p>
            <a class="btn secondary" href="https://stackit.de/">Back to STACKIT</a>
        </div>
    </div>

{% endblock %}
