<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>STACKIT</title>
    <meta name="description" content="STACKIT home">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
</head>

<body class="d-flex flex-column min-vh-100 align-items-stretch">
{% block content %}{% endblock %}
</body>
</html>
