<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>STACKIT</title>
    <meta name="description" content="STACKIT home">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
</head>

<body class="d-flex flex-column min-vh-100 align-items-stretch">
{% block content %}{% endblock %}
<svg width="100%" height="100%" id="svg" viewBox="0 0 1440 600" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><path d="M 0,600 C 0,600 0,200 0,200 C 85.53110047846889,232.9665071770335 171.06220095693777,265.933014354067 269,267 C 366.9377990430622,268.066985645933 477.28229665071774,237.23444976076559 564,211 C 650.7177033492823,184.76555023923441 713.8086124401912,163.1291866028708 822,180 C 930.1913875598088,196.8708133971292 1083.4832535885168,252.2488038277512 1194,262 C 1304.5167464114832,271.7511961722488 1372.2583732057415,235.8755980861244 1440,200 C 1440,200 1440,600 1440,600 Z" stroke="none" stroke-width="0" fill="#abb8c388" class="transition-all duration-300 ease-in-out delay-150 path-0"></path><path d="M 0,600 C 0,600 0,400 0,400 C 110.69856459330143,399.1483253588517 221.39712918660285,398.29665071770336 321,391 C 420.60287081339715,383.70334928229664 509.11004784689,369.9617224880382 590,380 C 670.88995215311,390.0382775119618 744.1626794258373,423.8564593301436 828,438 C 911.8373205741627,452.1435406698564 1006.2392344497607,446.6124401913875 1110,437 C 1213.7607655502393,427.3875598086125 1326.8803827751196,413.6937799043062 1440,400 C 1440,400 1440,600 1440,600 Z" stroke="none" stroke-width="0" fill="#abb8c3ff" class="transition-all duration-300 ease-in-out delay-150 path-1"></path></svg>
</body>
</html>
